<ul>
	<%= form_for(task) do |f| %>
		<li><%= f.label :title %></li>
		<li><%= f.text_field :title %></li>
		<li><%= f.label :details %></li>
		<li><%= f.text_field :details %></li>
		<li><%= f.label :completed %></li>
		<li><%= f.check_box :completed %></li>
		<li><%= f.submit %></li>
	<% end %>
</ul>

<p><%= link_to "Back to list", tasks_path %></p>
